Connected Services/AirlineService/AirlineSystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Airlinebook.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Airlinebook.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Airlinebook.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisplayFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisplayFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayFlightsResult" type="tns:ArrayOfFlight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFlight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Flight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="airline_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="flight_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departdate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Departure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="arrival" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Display">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayResult" type="tns:ArrayOfFlight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="yoo">
        <s:complexType />
      </s:element>
      <s:element name="yooResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="yooResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flyid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="db" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookFlightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DisplayFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:DisplayFlights" />
  </wsdl:message>
  <wsdl:message name="DisplayFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:DisplayFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="DisplaySoapIn">
    <wsdl:part name="parameters" element="tns:Display" />
  </wsdl:message>
  <wsdl:message name="DisplaySoapOut">
    <wsdl:part name="parameters" element="tns:DisplayResponse" />
  </wsdl:message>
  <wsdl:message name="yooSoapIn">
    <wsdl:part name="parameters" element="tns:yoo" />
  </wsdl:message>
  <wsdl:message name="yooSoapOut">
    <wsdl:part name="parameters" element="tns:yooResponse" />
  </wsdl:message>
  <wsdl:message name="BookFlightSoapIn">
    <wsdl:part name="parameters" element="tns:BookFlight" />
  </wsdl:message>
  <wsdl:message name="BookFlightSoapOut">
    <wsdl:part name="parameters" element="tns:BookFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="AirlineSystemSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisplayFlights">
      <wsdl:input message="tns:DisplayFlightsSoapIn" />
      <wsdl:output message="tns:DisplayFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Display">
      <wsdl:input message="tns:DisplaySoapIn" />
      <wsdl:output message="tns:DisplaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="yoo">
      <wsdl:input message="tns:yooSoapIn" />
      <wsdl:output message="tns:yooSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <wsdl:input message="tns:BookFlightSoapIn" />
      <wsdl:output message="tns:BookFlightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirlineSystemSoap" type="tns:AirlineSystemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://Airlinebook.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayFlights">
      <soap:operation soapAction="http://Airlinebook.com/DisplayFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Display">
      <soap:operation soapAction="http://Airlinebook.com/Display" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="yoo">
      <soap:operation soapAction="http://Airlinebook.com/yoo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <soap:operation soapAction="http://Airlinebook.com/BookFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirlineSystemSoap12" type="tns:AirlineSystemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://Airlinebook.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayFlights">
      <soap12:operation soapAction="http://Airlinebook.com/DisplayFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Display">
      <soap12:operation soapAction="http://Airlinebook.com/Display" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="yoo">
      <soap12:operation soapAction="http://Airlinebook.com/yoo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <soap12:operation soapAction="http://Airlinebook.com/BookFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirlineSystem">
    <wsdl:port name="AirlineSystemSoap" binding="tns:AirlineSystemSoap">
      <soap:address location="https://localhost:44356/AirlineSystem.asmx" />
    </wsdl:port>
    <wsdl:port name="AirlineSystemSoap12" binding="tns:AirlineSystemSoap12">
      <soap12:address location="https://localhost:44356/AirlineSystem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>